.editmodalstyle{
    position: absolute;
    inset: 50% 50% auto;
        top: 50%;
        right: 50%;
        bottom: auto;
        left: 50%;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    overflow: auto;
    border-radius: 4px;
    outline: currentcolor none medium;
        outline-color: currentcolor;
        outline-style: none;
        outline-width: medium;
    padding: 20px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
}
.addbutton{
    max-width: 180px;
}